<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-fiche-presence-heading"
        data-cy="FichePresenceCreateUpdateHeading"
        jhiTranslate="projetApp.fichePresence.home.createOrEditLabel"
      >
        Create or edit a Fiche Presence
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.activites" for="field_activites">Activites</label>
          <input type="text" class="form-control" name="activites" id="field_activites" data-cy="activites" formControlName="activites" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.heuredebut" for="field_heuredebut">Heuredebut</label>
          <input
            type="text"
            class="form-control"
            name="heuredebut"
            id="field_heuredebut"
            data-cy="heuredebut"
            formControlName="heuredebut"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.commentaire" for="field_commentaire">Commentaire</label>
          <textarea
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.heurefin" for="field_heurefin">Heurefin</label>
          <input type="text" class="form-control" name="heurefin" id="field_heurefin" data-cy="heurefin" formControlName="heurefin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetApp.fichePresence.consultant" for="field_consultant">Consultant</label>
          <select class="form-control" id="field_consultant" data-cy="consultant" name="consultant" formControlName="consultant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                consultantOption.id === editForm.get('consultant')!.value?.id ? editForm.get('consultant')!.value : consultantOption
              "
              *ngFor="let consultantOption of consultantsSharedCollection; trackBy: trackConsultantById"
            >
              {{ consultantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
