<div>
  <h2 id="page-heading" data-cy="ConsultantHeading">
    <span jhiTranslate="projetApp.consultant.home.title">Consultants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetApp.consultant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consultant"
        [routerLink]="['/consultant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetApp.consultant.home.createLabel"> Create a new Consultant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consultants?.length === 0">
    <span jhiTranslate="projetApp.consultant.home.notFound">No consultants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="consultants && consultants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="projetApp.consultant.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="projetApp.consultant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fonction">
            <span jhiTranslate="projetApp.consultant.fonction">Fonction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prestataire.nomPres">
            <span jhiTranslate="projetApp.consultant.prestataire">Prestataire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let consultant of consultants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consultant', consultant.id, 'view']">{{ consultant.id }}</a>
          </td>
          <td>{{ consultant.nom }}</td>
          <td>{{ consultant.prenom }}</td>
          <td>{{ consultant.fonction }}</td>
          <td>
            <div *ngIf="consultant.prestataire">
              <a [routerLink]="['/prestataire', consultant.prestataire?.id, 'view']">{{ consultant.prestataire?.nomPres }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consultant', consultant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/consultant', consultant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(consultant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
