<div>
  <h2 id="page-heading" data-cy="PrestataireHeading">
    <span jhiTranslate="projetApp.prestataire.home.title">Prestataires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetApp.prestataire.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prestataire"
        [routerLink]="['/prestataire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetApp.prestataire.home.createLabel"> Create a new Prestataire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prestataires?.length === 0">
    <span jhiTranslate="projetApp.prestataire.home.notFound">No prestataires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prestataires && prestataires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPres">
            <span jhiTranslate="projetApp.prestataire.nomPres">Nom Pres</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomCont">
            <span jhiTranslate="projetApp.prestataire.nomCont">Nom Cont</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenomCont">
            <span jhiTranslate="projetApp.prestataire.prenomCont">Prenom Cont</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="projetApp.prestataire.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let prestataire of prestataires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prestataire', prestataire.id, 'view']">{{ prestataire.id }}</a>
          </td>
          <td>{{ prestataire.nomPres }}</td>
          <td>{{ prestataire.nomCont }}</td>
          <td>{{ prestataire.prenomCont }}</td>
          <td>{{ prestataire.email }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prestataire', prestataire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prestataire', prestataire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(prestataire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
